<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes store</title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    

    <nav>
        <h1 class="h1shoes">Original shoes</h1>
        <i class="fa-solid fa-bars"></i>
        <div class="nav-bar">
            <h1><a href="#">home</a></h1>
            <h1><a href="#">Fav</a></h1>
            <h1><a href="http://localhost:8000/new" class="sign-in">Sign-in</a></h1>
            <!-- <h1><a href="#">Log-in</a></h1> -->
        </div>
    </nav>
    
 
    <div class="main">


        <div class="page1">
            <div class="page1-content">
                <h1>The Shoes Store</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iure beatae necessitatibus dolores culpa voluptatum voluptatibus aut distinctio facilis repellat.</p>
                <button>Buy Now !</button>
            </div>
            <div class="page1-image">
                <img src="images/bgremove.png" alt="shoes">
            </div>
        </div>

        <div class="page4">
            <h1>Top Brands</h1>
            <img src="images/page4-1.jpg" alt="image">
            <img src="images/page4-2.jpg" alt="image">
            <img src="images/page4-3.jpg" alt="image">
            <img src="images/page4-4.jpg" alt="image">

        </div>

       <div class="page3">
        
        <div class="scroller">
            <div class="scroller-out">
                <img src="image/logo1.png" alt="logo">
                <img src="image/logo2.png" alt="logo">
                <img src="image/logo3.png" alt="logo">
                <img src="images/logo4.png" alt="logo">
                <img src="images/logo5.png" alt="logo">
                <img src="images/logo6.png" alt="logo">
                <img src="images/logo7.png" alt="logo">
                <img src="images/logo8.png" alt="logo">
                <img src="images/logo9.png" alt="logo">
                <img src="images/logo10.png" alt="logo">
                <img src="images/logo11.png" alt="logo">
                <img src="images/logo12.png" alt="logo">
            </div>
            <div class="scroller-out">
                <img src="images/logo1.png" alt="logo">
                <img src="images/logo2.png" alt="logo">
                <img src="images/logo3.png" alt="logo">
                <img src="images/logo4.png" alt="logo">
                <img src="images/logo5.png" alt="logo">
                <img src="images/logo6.png" alt="logo">
                <img src="images/logo7.png" alt="logo">
                <img src="images/logo8.png" alt="logo">
                <img src="images/logo9.png" alt="logo">
                <img src="images/logo10.png" alt="logo">
                <img src="images/logo11.png" alt="logo">
                <img src="images/logo12.png" alt="logo">
            </div>
        </div>

        <div class="scroller">
            <div class="scroller-in">
                <h4>Nike </h4>
                <h4>Adidas </h4>
                <h4>Kappa </h4>
                <h4>asics </h4>
                <h4>Reebok </h4>  
            </div>
            <div class="scroller-in">
                <h4>Nike </h4>
                <h4>Adidas </h4>
                <h4>Kappa </h4>
                <h4>asics </h4>
                <h4>Reebok </h4>  
            </div>
        </div>

       </div>
        <div class="page2">

            <div class="shoes-box">

                <img src="/images/s1.png" alt="shoes">
                <h2>Nike shoes </h2>
                <!-- <p>Nike</p> -->
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">

                <img src="images/s2.png" alt="shoes">
                <h2>Classic shoes</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.1400</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">

                <img src="images/s3.png" alt="shoes">
                <h2>Branded shoes</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.1550</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">

                <img src="images/s4.png" alt="shoes">
                <h2>sassy shoes</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.1299</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">

                <img src="images/s11.png" alt="shoes">
                <h2>Shoes 1</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s12.png" alt="shoes">
                <h2>Shoes 2</h2>
                <!-- <p >Nike</p> -->
                <p>Rs.1300</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s13.png" alt="shoes">
                <h2>Shoes 2</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s14.png" alt="shoes">
                <h2>Shoes 4</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.800</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">

                <img src="images/s31.png" alt="shoes">
                <h2>Shoes 5</h2>
                <!-- <p>Nike</p> -->
                <p>Rs.900</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s32.png" alt="shoes">
                <h2>Shoes 6</h2>
                <p>Rs.1000</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">

                <img src="images/s33.png" alt="shoes">
                <h2>Shoes 7</h2>
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s34.png" alt="shoes">
                <h2>Shoes 8</h2>
                <p>Rs.700</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s41.png" alt="shoes">
                <h2>Shoes 9</h2>
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s42.png" alt="shoes">
                <h2>Shoes 10</h2>
                <p>Rs.1150</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s43.png" alt="shoes">
                <h2>Shoes 11</h2>
                <p>Rs.1050</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s44.png" alt="shoes">
                <h2>Shoes 12</h2>
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s21.png" alt="shoes">
                <h2>Shoes 13</h2>
                <p>Rs.1000</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s22.png" alt="shoes">
                <h2>Shoes 14</h2>
                <p>Rs.1100</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s11.png" alt="shoes">
                <h2>Shoes 15</h2>
                <p>Rs.899</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>

            <div class="shoes-box">
                <img src="images/s12.png" alt="shoes">
                <h2>Shoes 16</h2>
                <p>Rs.999</p>
                <!-- <button class="add-to-card">ADD To CART</button>
                <Button class="buy">Buy</Button> -->
            </div>
        </div>
    </div>

    <div class="arrow">
        <li><i class="fa-solid fa-chevron-left"></i></li>
        <li><i class="fa-solid fa-chevron-right"></i></li>
    </div>

    <div class="page5">
        <div class="page5-content">
            <img src="images/page5-1.jpg" alt="shoes">
            <img src="images/page5-2.jpg" alt="shoes">
            <img src="images/page5-3.jpg" alt="shoes">
            <img src="images/page5-4.jpg" alt="shoes">
        </div>
        <div class="page5-image">
            <!-- <img src="images/girl.png" alt="girl-image"> -->
            <img src="images/page5-5.jpg" alt="girl-image">
            <img src="images/page5-5remove.png" alt="image" class="image5-remove">
        </div>
    </div>

    <div class="footer">
        <div class="footer-content">
            <ul>
                <li><p>contact <i class="fa-solid fa-location-dot"></i></p>
                <li><p>contact <i class="fa-solid fa-paper-plane"></i></p></li> 
                <li><p>contact <i class="fa-solid fa-truck-fast"></i></p></li>
                <li><p>contact <i class="fa-solid fa-phone"></i></p></li></li>
            </ul>
        </div>

        <div class="footer-shop">
            <ul>
                <li><p>jorden</p></li>
            <li><p>Nike</p></li>
            <li><p>buy original</p></li>
            <li><p>addidas</p></li>
            </ul>
        </div>

        <div class="footer-detail">
           <ul>
            <li><p>You can buy here</p></li> 
            <li><p>shopping here</p></li> 
            <li><p>buy for buy</p></li>  
            <li><p>best deal are here!</p>
           </ul>
        </div>

        <div class="footer-email">
            <ul>
                <li><p>rahul@gmail.com</p></li>
                <li><p>Varun@gmail.com</p></li>
                <li><p>shrey@gmail.com</p></li>
            </ul>
        </div>
    </div>



  
    <script src="/js/script1.js"></script>
</body>
</html>